<% if @articles.blank? %>
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h5 style="color: #ef5350;">There are no recipes containing the term <%= params[:search] %></h5>
    </div>
  </div>
<% else %>
  <div align="center">
    <%= will_paginate %>
  </div>

  <%= render 'article', obj: @articles %>

  <div align="center">
    <%= will_paginate %>
  </div>
<% end %>
