<!-- <p> -->
  <%#= link_to "New Article", new_article_path %>
<!-- </p> -->

<div class="row">
  <div class="col-md-10">
    <% @articles.each do |article| %>
      <h2><%= link_to article.title, article, id:"title-article" %></h2>
      <p id="more-info">By: Le Thanh Viet | <%= time_ago_in_words(article.created_at) %></p>


      <p class="article-description"><%= sanitize(article.description) %></p>
      <hr>
    <% end %>
  </div>

  <div class="col-md-2">
    <%= render 'shared/sidebar' %>
  </div>
</div>

