<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-center">Category</div>

  <!-- List group -->
  <ul class="list-group text-center">
    <li class="list-group-item">Front-End</li>
    <li class="list-group-item">Back-End</li>
    <li class="list-group-item">Courses</li>
    <li class="list-group-item">Notes</li>
    <li class="list-group-item">Tricks</li>
  </ul>
</div>

<ul class="list-group text-center">
  <li class="list-group-item"><i class="fa fa-users" aria-hidden="true"></i> <%= link_to 'Authors', users_path %></li>
  <li class="list-group-item"><span class="glyphicon glyphicon glyphicon glyphicon-phone-alt" aria-hidden="true"></span><%= link_to ' Contact Me', contact_path %></li>
</ul>


