<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-center">Top Articles</div>

  <!-- List group -->
  <ul class="list-group text-center">
    <li class="list-group-item">Article 1</li>
    <li class="list-group-item">Article 2</li>
    <li class="list-group-item">Article 3</li>
    <li class="list-group-item">Article 4</li>
    <li class="list-group-item">Article 5</li>
  </ul>
</div>

