<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-center">Category</div>

  <!-- List group -->
  <ul class="list-group text-center">
    <li class="list-group-item">Front-End</li>
    <li class="list-group-item">Back-End</li>
    <li class="list-group-item">Courses</li>
    <li class="list-group-item">Notes</li>
    <li class="list-group-item">Tricks</li>
  </ul>
</div>
