<div class="jumbotron">
  <div class="container">
    <h2>Hello, World!</h2>
    <p>My fullname is: Le Thanh Viet. This is my personal blog. </p>
    <p>I store everything during my self-study on this blog.</p>
    <p>If you interesting, come and share your knowledge.</p>
    <p><%= link_to 'More...', root_path, class:"btn btn-danger" %></p>
  </div>
</div>
